
{% set proxy = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['rsync'],
        'service': 'rsyncd',
        'user': 'root',
        'group': 'root',
    },
    'RedHat': {
        'pkgs': ['rsync', 'xinetd'],
        'service': 'xinetd',
        'user': 'root',
        'group': 'root',
    },
}, merge=salt['pillar.get']('rsync:server')) %}
